<div class="uk-text-center uk-grid-collapse uk-flex-middle uk-grid-match" style="background:#AC94E8">

    <div class="uk-container uk-container-large">
        <div class="uk-card uk-card-body">
            <h2 class="heading uk-light">Luxury Lashes by Corwink Cosmetics</h2>
            <p class="uk-light uk-text-center">If you LOVE our lashes and can’t wait to show the world, we would love to collab with you! Here’s how to start:</p>
                <p class="uk-margin-remove uk-light">Tag <strong>@corwinkcosmetics</strong> and <strong>#corwinkcrew</strong> in your Instagram posts </p>
                <p class="uk-margin-remove uk-light">Send us a DM!</p>

        </div>
    </div>
</div>