{{ $hero := .Site.Data.design.home_slideshow }}
<div class="uk-position-relative uk-preserve-color">
{{ partial "global/navbar" . }}
<div class="uk-background-cover uk-flex uk-flex-center uk-flex-middle uk-flex-column" uk-height-viewport>
    <div class="uk-width-3-5">
        <div class="uk-child-width-1-2@m">
            <h6 class="uk-margin-remove uk-text-uppercase uk-text-bold">Affordable Lashes</h6>
            <h1 class="heading size-large uk-dark hero-head uk-margin-remove">Luxury Lashes by CorWink Cosmetics</h1>
            <h5 class="uk-margin-medium-top hero-text">Luxury lashes made with real siberian mink and faux mink.</h5>
            <a href="/products" class="hero-btn">Shop now</a>
        </div>
    </div>
</div>
</div>