{{ $intro := .Site.Data.homelayout.introduction }}
<div class="uk-section uk-section-small">
    <div class="uk-container uk-container-large uk-flex uk-flex-center">
        <div class="uk-width-3-5@s">
            <h3 class="uk-text-center heading">Our mission is to keep the highest quality of luxury lashes you love at an affordable price while providing unique options that fit your lash needs.</h3>
            <div class="uk-grid-large uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
                <div>
                    <div>
                        <img src="/assets/truck.svg" alt="truck icon">
                        <h6 class="uk-margin-small-top uk-text-uppercase">SHIPPED FROM CALIFORNIA</h6>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="/assets/shield.svg" alt="shield icon">
                        <h6 class="uk-margin-small-top uk-text-uppercase">Encrypted Payment</h6>
                    </div>                
                </div>
                <div>
                    <div>
                        <img src="/assets/package.svg" alt="gift icon">
                        <h6 class="uk-margin-small-top uk-text-uppercase">Luxurious Packaging</h6>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>